<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
               >


    Bem Vindo ao Dashboard

    <a href="${facesContext.externalContext.requestContextPath}/logout"><span class="topbar-item-text">#{message.logout}</span><span class="fa fa-sign-out"></span></a>
</ui:composition>