<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>ERROR</title>
    </h:head>

    <h:body styleClass="exception-body">
        <div class="ui-g body-container error">
            <div class="ui-g-12 top-border"></div>
            <div class="ui-g-12 ui-lg-7 left-side">

                <h1>#{message.error}!</h1>
                <p>
                    Pedimos desculpa pelo incómodo, se o problema persistir por favor contacte o administrador.
               </p>


            </div>
            <div class="ui-g-12 ui-lg-5 right-side">
                <div class="ui-g-12">
                </div>
            </div>
        </div>

    </h:body>

</html>