<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </f:facet>
    <title>Sample</title>
</h:head>

<h:body styleClass="login-body">
    <div class="ui-g body-container">
        <div class="ui-g-12 top-border"></div>
        <div class="ui-g-12 ui-lg-7 left-side">
            <p:graphicImage name="sample-logo.png" library="images" />
            <h1>Bem Vindo!</h1>

            <p>
                Sample
            </p>
            <div  class="login-footer"><span  style="font-size: 10px">  @ 2016</span></div>
        </div>
        <div class="ui-g-12 ui-lg-5 right-side">
            <div id="login-wrapper">
                <div id="login-container">
                    <span class="title">Registe a sua nova password</span>
                    <h:form>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <p:password id="txtPassword1" value="#{passwordResetController.resetPassword}"

                                             placeholder="#{message.new_password}"
                                           required="true" label=" " feedback="true" inline="true"
                                             match="txtPassword2" promptLabel=" " weakLabel=" " goodLabel=" " strongLabel=" "
                                             autocomplete="off">
                                <f:passThroughAttribute name="type" value="password"/>
                                <f:validateLength minimum="8" maximum="50"/>
                            </p:password>
                                <p:message for="txtPassword1"/>
                            </div>
                            <div class="ui-g-12">
                                <p:password id="txtPassword2" redisplay="false" validatorMessage=""
                                            value="#{passwordResetController.resetConfirmPassword}"

                                            placeholder="#{message.repeat_password}" styleClass=" Fs18 " required="true"
                                            autocomplete="off">
                                    <f:passThroughAttribute name="type" value="password"/>
                                    <f:validateLength minimum="8" maximum="50"/>
                                </p:password>
                                <p:message for="txtPassword2"/>
                            </div>
                            <div class="ui-g-6">
                                <p:commandButton ajax="false"
                                                 styleClass="GrayButton" style="width: 200px"
                                                 action="#{passwordResetController.reset}"
                                                 value="#{message.change_password}"
                                />

                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </div>

</h:body>

</html>