<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Sample</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
    </h:head>

    <h:body styleClass="login-body">
        <div class="ui-g body-container">
            <div class="ui-g-12 top-border"></div>
            <div class="ui-g-12 ui-lg-7 left-side">
                <p:graphicImage name="sample-logo.png" library="images" />
                <h1>Bem Vindo!</h1>
                <p>
                    Sample
               </p>
               <div  class="login-footer"><span  style="font-size: 10px"> @ 2016</span></div>
            </div>
            <div class="ui-g-12 ui-lg-5 right-side">
                <div id="login-wrapper">
                    <div id="login-container">
                        <span class="title">Login</span>
                        <h:form>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <p:inputText id="username" placeholder="Username"  value="#{loginController.username}" required="true" requiredMessage="#{message.username_required}"/>
                                <p:message for="username"/>
                            </div>
                            <div class="ui-g-12">
                                <p:password    value="#{loginController.password}" required="true"  placeholder="Password"  requiredMessage="#{message.password_required}" id="password" feedback="false"/>
                                <p:message for="password"/>
                            </div>
                            <div class="ui-g-6">
                                <p:commandButton ajax="false"  icon="fa fa-check"

                                                 action="#{loginController.submit}"
                                                 value="LOGIN"/>

                            </div>
                        </div>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

    </h:body>

</html>